html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  font-size: 2.2rem;
}

form,
.registration,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 40rem;
  font-size: 4rem;
}

button {
  font-size: 2.8rem;
}
