html {
  font-size: 62.5%;
}

body {
  background-color: rgb(17, 14, 14);
  color: rgb(170, 170, 170);
}

.App {
  text-align: center;
  font-size: 2.2rem;
}

form,
.registration,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 40rem;
  font-size: 4rem;
}

button {
  font-size: 2.8rem;
}
